<% layout('/layouts/boilerplate') %>
<body>
    <br><br>
    <h3 class="offset-2">Create New Listing</h3>
    <form action="/listings" method="POST" novalidate class="needs-validation" enctype="multipart/form-data">
        <div class="row">
            <div class="col-8 offset-2 form">
                <div class="mb-3">
                    <label for="title" class="form-label">Title</label>
                    <input id="title" type="text" class="form-control" name="listing[title]" placeholder="Add a catchy title" required>
                    <div class="valid-feedback">Title looks good</div>
                    <div class="invalid-feedback">Please enter valid title</div>
                </div>
                
                <div class="mb-3">
                    <label for="description" class="form-label">Description</label>
                    <textarea id="description" type="text" class="form-control" name="listing[description]" placeholder="Enter description" required></textarea>
                    <div class="invalid-feedback">Please enter a short description</div>
                </div>    
                  
                <div class="mb-3">
                    <label for="image" class="form-label">Upload Listing Image</label>
                    <input id="image" type="file" class="form-control" name="listing[image]" required>
                </div> 

                <div class="row">
                    <div class="col-md-4 mb-3">
                        <label for="price" class="form-label">Price</label>
                        <input id="price" name="listing[price]" class="form-control" type="number" placeholder="&#x20b9; 0.0" required>
                        <div class="invalid-feedback">Please enter valid price</div>
                    </div>    
                    <div class="col-md-8 mb-3">
                        <label for="country" class="form-label">Country</label>
                        <input id="country" type="text" class="form-control" name="listing[country]" placeholder="India" required>
                        <div class="invalid-feedback">Please enter valid coountry</div>
                    </div>                     
                </div>   
                
                <div class="mb-3">
                    <label for="location" class="form-label">Location</label>
                    <input id="location" type="text" class="form-control" name="listing[location]" placeholder="Enter location" required>
                    <div class="invalid-feedback">Please enter valid location</div>
                </div>
                    
                <button class="btn btn-dark add-btn" type="submit">Add</button>
            </div>
        </div>
        <br><br>
    </form>
</body>